@model CampDios.Modelos.Zona

@{
    ViewBag.Title = "Zonas-Detalles";
}

<center><h2>Zonas-Detalles</h2></center>

<div> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iglesia.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iglesia.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pastores.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pastores.Nombres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdZona }, new { @class = "btn btn-success" }) &nbsp;&nbsp;
    <a href="javascript:history.back();" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Volver al listado
    </a>
</p>
