@model CampDios.Modelos.Usuarios_Opciones

@{
    ViewBag.Title = "Borrar Usuarios_Opciones";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro que desea eliminar este Permiso de este usuario</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lectura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lectura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escritura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escritura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opciones.Nombre_Opciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opciones.Nombre_Opciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Login)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> &nbsp;&nbsp;
            <a href="@Url.Action("Index","Usuarios_Opciones")" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Volver al listado
            </a>
        </div>
    }
</div>
