@model CampDios.Modelos.Usuarios_Opciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuarios_Opciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lectura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lectura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escritura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escritura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opciones.Nombre_Opciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opciones.Nombre_Opciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Login)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idUsuario_Opciones }) |
    @Html.ActionLink("Back to List", "Index")
</p>
