@model CampDios.Modelos.Opciones

@{
    ViewBag.Title = "Borrar Opciones";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Opciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Opciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Opciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modulos.Nombre_Modulos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modulos.Nombre_Modulos)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> &nbsp;&nbsp;
            <a href="javascript:history.back();" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Volver al listado
            </a>
        </div>
    }
</div>
