@model CampDios.Modelos.Opciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Opciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Opciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Opciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modulos.Nombre_Modulos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modulos.Nombre_Modulos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Opciones_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
