@model IEnumerable<CampDios.Modelos.Opciones>

@{
    ViewBag.Title = "Index";
}

<h2>Administración de Opciones(Vistas)</h2>

<p>
    <a href="@Url.Action("Create","Opciones")" class="btn btn-primary"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>Nueva Opcion(Vista)</a>&nbsp;
    <a href="@Url.Action("Index","Usuarios")" class="btn btn-default"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Usuarios</a>&nbsp;
    <a href="@Url.Action("Index","Modulos")" class="btn btn-default"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Módulos</a>&nbsp;
    <a href="@Url.Action("Index","Usuarios_Opciones")" class="btn btn-default"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Permisos</a>&nbsp;
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Opciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modulos.Nombre_Modulos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Opciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modulos.Nombre_Modulos)
        </td>
        
        <td>@Html.ActionLink("Editar", "Edit", new { id = item.Opciones_Id }, new { @class = "btn btn-success" })</td>
        <td>@Html.ActionLink("Detalles", "Details", null, new { id = item.Opciones_Id }, new { @class = "btn btn-info" })</td>
        <td>@Html.ActionLink("Borrar", "Delete", null, new { id = item.Opciones_Id }, new { @class = "btn btn-danger" })</td>
        
    </tr>
}

</table>
