@model IEnumerable<CampDios.Modelos.Miembros>

@{
    ViewBag.Title = "Detalle de Miembros";
}

<h2>Detalle de Miembros</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdMiembro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo1.Sexo1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdMiembro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Sexo1.Sexo1)
        </td>
        <td><a href="@Url.Action("Edit","Miembros", new { id = item.IdMiembro })" class="btn btn-primary"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Editar</a>&nbsp;</td>
        <td><a href="@Url.Action("Details","Miembros", new { id = item.IdMiembro })" class="btn btn-primary"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Detalles</a>&nbsp;</td>
        <td><a href="@Url.Action("Delete","Miembros", new { id = item.IdMiembro })" class="btn btn-danger"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Borrar</a>&nbsp;</td>

</tr>
}

</table>

<div>
    <a href="@Url.Action("Index","Iglesias")" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Volver al listado
    </a>
</div>
