@model IEnumerable<CampDios.Modelos.Zona>

@{
    ViewBag.Title = "Detalle de Zonas";
}

<h2>ZonaDetalle</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iglesia.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miembros.Nombres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iglesia.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miembros.Nombres)
        </td>
    </tr>
}

</table>

<div>
    <a href="@Url.Action("Index","Iglesias")" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Volver al listado
    </a>
</div>
