@model IEnumerable<CampDios.Modelos.Zona>

@{
    ViewBag.Title = "Detalle de Zonas";
}

<h2>ZonaDetalle</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdZona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iglesia.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miembros.Nombres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdZona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iglesia.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miembros.Nombres)
        </td>
        <td><a href="@Url.Action("Edit","Zonas", new { id = item.IdZona })" class="btn btn-primary"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Editar</a>&nbsp;</td>
        <td><a href="@Url.Action("Details","Zonas", new { id = item.IdZona })" class="btn btn-primary"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Detalles</a>&nbsp;</td>
        <td><a href="@Url.Action("Delete","Zonas", new { id = item.IdZona })" class="btn btn-danger"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Borrar</a>&nbsp;</td>

    </tr>
}

</table>

<div>
    <a href="@Url.Action("Index","Iglesias")" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Volver al listado
    </a>
</div>
