@model IEnumerable<CampDios.Modelos.Miembros_Edad> 
@{
    ViewBag.Title = "Miembros-Inicio";
}

<center><h2>Miembros - Inicio(Numero de miembros @Model.Count())</h2></center>



<p>
    <a href="@Url.Action("Create","Miembros")" class="btn btn-primary"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Nuevo miembro</a>&nbsp;
    <a href="@Url.Action("Index","HistoriaEspirituals")" class="btn btn-default"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Historial espiritual</a>&nbsp;
</p>
<div style="overflow:auto;">
    <div class="table-responsive table-hover">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdMiembro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </th>
                <th>
                    Edad
                </th>
                <th>
                <th>
                    Sexo
                    <!--@Html.DisplayNameFor(model => model.Sexo)-->
                </th>
                <th></th>
                <th>Opciones</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
              
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdMiembro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>item.Edad)
                    </td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SexoDescripcion)
                    </td>
                    <td>@Html.ActionLink("Editar", "Edit", new { id = item.IdMiembro }, new { @class = "btn btn-success" })</td>
                    <td>@Html.ActionLink("Detalles", "Details", null, new { id = item.IdMiembro }, new { @class = "btn btn-info" })</td>
                    <td>@Html.ActionLink("Borrar", "Delete", null, new { id = item.IdMiembro }, new { @class = "btn btn-danger" })</td> 
                </tr>
            }

        </table>
    </div>
</div>