@model IEnumerable<CampDios.Modelos.Modulos>

@{
    ViewBag.Title = "Index";
}

<h2>Administración de Módulos</h2>

<p>
    <a href="@Url.Action("Create","Modulos")" class="btn btn-primary"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Nuevo Módulo</a>&nbsp;
    <a href="@Url.Action("Index","Usuarios")" class="btn btn-default"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Usuarios</a>&nbsp;
    <a href="@Url.Action("Index","Opciones")" class="btn btn-default"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Opciones(Vistas)</a>&nbsp;
    <a href="@Url.Action("Index","Usuarios_Opciones")" class="btn btn-default"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Permisos</a>&nbsp;
</p>
<table class="table">
    <tr>
        <th>
            <h5><strong>Módulos</strong></h5>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Modulos)
        </td>
        
        <td>@Html.ActionLink("Editar", "Edit", new { id = item.Modulos_Id }, new { @class = "btn btn-success" })</td>
        <td>@Html.ActionLink("Detalles", "Details", null, new { id = item.Modulos_Id }, new { @class = "btn btn-info" })</td>
        <td>@Html.ActionLink("Borrar", "Delete", null, new { id = item.Modulos_Id }, new { @class = "btn btn-danger" })</td>
    </tr>
}

</table>
