@model IEnumerable<CampDios.Modelos.Pastores>

@{
    ViewBag.Title = "Miembros-Inicio";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <p>
        <a href="@Url.Action("Create","Pastores")" class="btn btn-primary"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Nuevo Pastor</a>&nbsp;
		<a href="@Url.Action("Index","HistoriaEspirituals")" class="btn btn-default"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Historial espiritual</a>&nbsp;
    </p>
	<div style="overflow:auto;">
    <div class="table-responsive table-hover">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>   
			<th>
				Edad
			</th>        
            <th>
                @Html.DisplayNameFor(model => model.Iglesia1.Nombre)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.Sexo1.Sexo1)
            </th>
            <th></th>
            <th>Opciones</th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.Iglesia1.Nombre)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.Sexo1.Sexo1)
            </td>
            <td>
                <td>@Html.ActionLink("Editar", "Editar", new { id=item.IdPastor }, new { @class = "btn btn-success"})</td> 
                <td>@Html.ActionLink("Detalles", "Detalles", new { id=item.IdPastor }, new { @class = "btn btn-info"})</td>
                <td>@Html.ActionLink("Borrar", "Borrar", new { id=item.IdPastor }, new { @class = "btn btn-danger"})</td>
            </td>
        </tr>
    }
    
    </table>
	</div>
</div>