@model IEnumerable<CampDios.Modelos.Pastores_Edad>

@{
    ViewBag.Title = "Pastores-Inicio";
}
<center><h2>Pastores - Inicio</h2></center>

<p>
    <a href="@Url.Action("Create","Pastores")" class="btn btn-primary"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Nuevo pastor</a>&nbsp;
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos) 
        </th>
        <th>
            Edad
        </th>
        <th>
        <th>
            @Html.DisplayNameFor(model => model.Cel) 
        </th>
        <th></th>
        <th>Opciones</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.Cel)
        </td>  
        <td>@Html.ActionLink("Editar", "Edit", new { id = item.IdPastor }, new { @class = "btn btn-success" })</td>
        <td>@Html.ActionLink("Detalles", "Details", null, new { id = item.IdPastor }, new { @class = "btn btn-info" })</td>
        <td>@Html.ActionLink("Borrar", "Delete", null, new { id = item.IdPastor }, new { @class = "btn btn-danger" })</td> 
    </tr>
}

</table>
