@model IEnumerable<CampDios.Modelos.DetalleGrupo>

@{
    ViewBag.Title = "Grupo-Inicio de miembros";
}

<center><h2>Grupo-Inicio de miembros</h2></center>

<p>
    <a href="@Url.Action("Create","DetalleGrupo")" class="btn btn-primary"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Nuevo miembro a grupo</a>&nbsp;
    <a href="@Url.Action("Index","Grupo")" class="btn btn-success"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Grupos</a>&nbsp; 
</p>
<table class="table">
    <tr>
        <th>
            Nombre de grupo
            <!--@Html.DisplayNameFor(model => model.Grupo.Nombre)-->
        </th>
        <th>
            Miembro
            <!--@Html.DisplayNameFor(model => model.Miembros.Nombres)-->
        </th>
        <th></th>
        <th>Opciones</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miembros.Nombres)
        </td>
        <td>@Html.ActionLink("Editar", "Edit", new { id = item.IdDetalleGrupo }, new { @class = "btn btn-success" })</td>
        <td>@Html.ActionLink("Detalles", "Details", null, new { id = item.IdDetalleGrupo }, new { @class = "btn btn-info" })</td>
        <td>@Html.ActionLink("Borrar", "Delete", null, new { id = item.IdDetalleGrupo }, new { @class = "btn btn-danger" })</td> 
    </tr>
}

</table>
