@model IEnumerable<CampDios.Modelos.Usuarios>

@{
    ViewBag.Title = "Index";
}

<h2>Administración de Usuarios</h2>

<p>
    <a href="@Url.Action("Create","Usuarios")" class="btn btn-primary"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Nuevo Usuario</a>&nbsp;
    <a href="@Url.Action("Index","Modulos")" class="btn btn-default"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Módulos</a>&nbsp;
    <a href="@Url.Action("Index","Opciones")" class="btn btn-default"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Opciones(Vistas)</a>&nbsp;
    <a href="@Url.Action("Index","Usuarios_Opciones")" class="btn btn-default"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Permisos</a>&nbsp;
</p>
<table class="table">
    <tr>
        <th>
            <h5><strong>Login - Nombre de usuario</strong></h5>
        </th>
        <th>
            <h5><strong>Contraseña</strong></h5>
        </th>
        <th>
            <h5><strong>Fecha de creación</strong></h5>
        </th>
        <th>
            <h5><strong>Miembro ID</strong></h5>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contraseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miembro_id)
        </td>

        <td>@Html.ActionLink("Editar", "Edit", new { id = item.Usuarios_id }, new { @class = "btn btn-success" })</td>
        <td>@Html.ActionLink("Detalles", "Details", null, new { id = item.Usuarios_id }, new { @class = "btn btn-info" })</td>
        <td>@Html.ActionLink("Borrar", "Delete", null, new { id = item.Usuarios_id }, new { @class = "btn btn-danger" })</td>

    </tr>
}

</table>
