@model IEnumerable<CampDios.Modelos.Usuarios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miembro_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contraseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miembro_id)
        </td>

        <td>@Html.ActionLink("Editar", "Edit", new { id = item.Usuarios_id }, new { @class = "btn btn-success" })</td>
        <td>@Html.ActionLink("Detalles", "Details", null, new { id = item.Usuarios_id }, new { @class = "btn btn-info" })</td>
        <td>@Html.ActionLink("Borrar", "Delete", null, new { id = item.Usuarios_id }, new { @class = "btn btn-danger" })</td>

    </tr>
}

</table>
